.mc input { 
    font-size: 1rem;
    border: 2px solid var(--md-color-black);
    color:  var(--md-color-white);
    border-radius: 5px;
}

.mc input.rounded { 
   border-radius: 25px;
   padding: 5px 20px;
   height: 30px; 
}